.character-Hedda {
    font-family:monospace;
    font-weight: bold;
    color: rgb(237, 13, 13);
  }
  .character-Hedda:hover {
    color: rgb(7, 243, 97); 
  font-style: italic;
  border: 2px solid #58a780;
    color: rgb(11, 11, 1);
    box-shadow: 4px 4px 10px rgba(124, 65, 169, 0.5);
  }
  .character-Brack {
    font-weight: bold;
    font-family: Serif; 
    color: rgb(140, 88, 223);
  }
  .character-Brack:hover {
    color: rgb(7, 243, 97); 
  font-style: italic;
  border: 2px solid #abba4e;
    color: rgb(11, 11, 1);
    box-shadow: 4px 4px 10px rgba(198, 120, 120, 0.5);
  }
.speech {
    font-style:Times New Roman ;
    font-size: 14px;
    color: black;
  }
   .direction {
    font-size: 14px; 
    color: black;
    background-color: #f3f6f7;
}
.name {
    font-weight: bold;
    border: 2px solid #000;
    color: rgb(11, 11, 1);
    box-shadow: 4px 4px 10px rgba(130, 16, 16, 0.5);
  }
.direction:hover {
    background-color: #e4216f; 
    color: rgba(250, 246, 247, 0.901); 
  }
.table {
  width: 100%;
  border-collapse: separate;
  background-color: #f2f2f2; 
  border: 2px solid #ddd; 
  margin-top: 20px; 
  color:red;
  padding:2px;
  text-align: center;
}
.th {
  
  color: rgb(251, 247, 247); 
  text-align: center;
  padding: 12px; 
  border: 1px solid #e8baba; 
  font-weight: bold; 
}
.tr:nth-child(odd) {
  background-color: #5313ad;
}
.td {
  text-align: center; 
  padding: 10px; 
  border: 1px solid #ddd;  
}
.name:hover {
  color: rgb(7, 243, 97); 
  font-style: italic;
   
}
